body{
    overflow-x: hidden;
}
.navbar {
    z-index: 100;
    background-color: transparent;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    padding-bottom: 0% !important;
}


.block-navbar {
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2% 3px;
    display: flex;
    box-shadow: 0 0 50px rgba(63, 44, 39, .18);
}

.nav-menu {
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: flex;

}

.w-nav-menu {
    float: left;
    position: relative;
}

.menu {
    display: contents !important;
}

.button-nav {
    color: white;
    text-align: center;
    letter-spacing: .06em;
    text-transform: uppercase;
    background-color: #0b3953;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2em;
    transition: transform .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.started {
    width: 12% !important;
    white-space:nowrap !important;
}

.wave-navbar {
    width: 100%;
    height: 36px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto; 
     /* background-attachment: scroll; */
    position: absolute;
    z-index: 99999;
    background: url(/Users/kavitapandey/my-cooking-book/my-reciepe-book/src/Cooking-images/navbg.svg);
 top: 85px;
}

.w-nav-overlay {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;

}

.main {
    background-color: #f4f2f0;
    position: relative;
    height:745px !important;

}

.col-md-4.offset-md-4.text-center {
    margin-left: 32.333333%;
    padding: 3%;
    height: 450px;
    position: relative;

}

.chowmin {
    background: url(/Users/kavitapandey/my-cooking-book/my-reciepe-book/src/Cooking-images/MainImg2.webp);
    background-repeat: no-repeat;
    position: absolute;
    width: 300px !important;
    height: 300px;
    top: -38px;
    left: -12px;
    background-size: 100%;
}
.veggie{
    position:absolute;
    background: url(/Users/kavitapandey/my-cooking-book/my-reciepe-book/src/Cooking-images/MainImg3.webp);
    background-repeat:no-repeat;
    height:340px;
    width: 340px;
    top: 405px;
    background-size: 100%;
    
    background-position: -84px 10px;
}
.phone{
    position:absolute;  
    background: url(/Users/kavitapandey/my-cooking-book/my-reciepe-book/src/Cooking-images/MainImg1.webp);
    background-repeat:no-repeat;
    height:620px;
    width:324px !important;
    left:78%;
    top: 125px;
    background-size:100%;
}
.text-center{
   
   font-family: sans-serif;
   margin-bottom: 28px;
   color: var(--heading);
   font-size: 81px;
   line-height: 1.05em;
   margin-top: 115px;
}
.sub-heading{
   max-width:530px;
   margin-bottom: 40px;
   font-size: 24px;
   line-height: 1.5em;
   margin-left: 154px;
   color:#5b5b5e
}
/* .apps{
  
   height:10px;
  
} */
.apps img{
    height:56px;
    margin-left: 300px !important;
}
.col-6{
    width: 65% !important;;
}
.star{
    position:absolute;
 margin-left: 30% !important;
margin-top: 30px !important ;

}
.bi-star-fill {
    width:50%;
    height:50%;
    color: #f9bb2d;
  
 
}
.bi-star-half{
    color:#f9bb2d;
}

.bottom-nav{
    width:100%;
    background:url(/Users/kavitapandey/my-cooking-book/my-reciepe-book/src/Cooking-images/bottom-nav.svg);
    background-repeat: repeat-x;
    height:36px;
    position:absolute;
    bottom: 0;
    float: left;
    width: 100%;
}
.main-div{
    position:relative;
    overflow:hidden;

}
.content{
    width:100%;
padding: 100px 25px;
position:relaive;
padding-top: 50px;
padding-bottom:50px;
}
.add-reciepie{
    position:absolute;
    height: 65%;
    width: 100%;
    top: 30px;
    left: 16px;
    right: 30px;
}

.icon-block .image {
    background: url(/Users/kavitapandey/my-cooking-book/my-reciepe-book/src/Cooking-images/image-blank.svg) !important;
position:absolute; 
background-repeat: no-repeat;
height: 102px;
width: 88px;
margin-left: 87px;
}
.image:after{
    content:'';
  
    position: absolute;
    background-repeat: no-repeat;
    width: 20px;
    height: 24px ;
    top: 46px;
    left: 32px;
}
.first{
    rotate: 257deg;
}
.third{
    rotate: 89deg;
}
.first:after{
    background: url(/Users/kavitapandey/my-cooking-book/my-reciepe-book/src/Cooking-images/phonebook.svg) !important;
   width:18px;
   rotate: -257deg;
}
.second:after{
    background: url(/Users/kavitapandey/my-cooking-book/my-reciepe-book/src/Cooking-images/my.svg) !important;
    width: 24px;
    height: 20px ;
}
.third:after{
    background: url(/Users/kavitapandey/my-cooking-book/my-reciepe-book/src/Cooking-images/image2.svg) !important;
   width:20px ;
   rotate: -89deg;
}
.content{
    margin-top:52px
}


.subject{
    position:relative;
}
h4{
    color: #1f1b1a;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1em;
}
.para-small{
    max-width: 390px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,Oxygen,Fira Sans,Droid Sans,sans-serif;
    font-size: 18px;
    line-height: 1.6em;
}
.content-footer{
    /* position:relative; */
    width:100%;
    max-width: 1350px;
    align-items: center;
    background-color:#1f1b1a;
    color:#ffffff;
}
.combine-padding-global{
    /* position:absolute; */
    padding-left: 45px !important;
    padding-right: 3px!important;
}
.combine-container-second{
    padding-left:66px !important;
    
}


.combine-container-large.col-12.row {
    margin-top: 37px;
    margin-left: 10px;
}
ul ,li{
    list-style-type: none;
    white-space: nowrap;
    margin:0;
    padding:0;
   
}
.img{
    width: 123px !important;
    height: 33px;
    margin-top:19px !important;
}
.sub-content{
    margin-top: 15px; 
}
.block-navbar ul,ul,li{
    padding:10px !important;
    margin-left:-10px !important;
    
}
/* .nav-menu ul,ul,li{
    display:none;
} */







 
