.navbar ::before{
    z-index: 100;
    background-color: transparent;
    position:fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    padding-bottom: 0%;
}


.block-navbar{
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding:10px 2% 3px;
    display:flex;
    box-shadow: 0 0 50px rgba(63,44,39,.18);
}
.nav-menu{
    z-index:10;
    justify-content: center;
    align-items: center;
    display:flex;
    
}
.w-nav-menu{
    float:left;
    position:relative;
}
.menu{
    display: contents !important;
}
.button-nav{
    color: white;
    text-align: center;
    letter-spacing: .06em;
    text-transform: uppercase;
    background-color: #0b3953;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2em;
    transition: transform .3s cubic-bezier(.25,.46,.45,.94),background-color .3s cubic-bezier(.25,.46,.45,.94);
}
.started{
    width:12% !important;
}
.wave-navbar{
    width:100%;
    height:36px;
    background-position: 50%;
    background-repeat: repeat-x;
    /* background-size: auto; */
    /* background-attachment: scroll; */
    position: absolute;
    z-index: 99999;
    background: url(/Users/kavitapandey/my-cooking-book/my-reciepe-book/src/Cooking-images/navbg.svg);
}
.w-nav-overlay::after{
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;

}